body {
    background-image: url("connectwork.png");
}


/*styling for mapbox map start---------------------------*/



#map {
    position: absolute;
    top:50%;
    bottom:0;
    width:75%;
    margin: auto;
    margin-bottom:40px;

}



/*styling for mapbox map end---------------------------*/
header, h1 {    text-align: center;
                background-color: #00000079;
                color: rgb(255, 208, 0);
                padding: 20px;
                font-family: 'Special Elite', cursive;
}

.card-divider {  background-color: orange;              
}

h3 {    color: #222222; 
        font-family: 'Special Elite', cursive; 
}



footer { color:#ffffff;
}

.button {   border-radius: 35px;
            background-color: #222222;
}
