body {  background-image: url("connectwork.png");
    position:relative;
}

/*styling for mapbox map start---------------------------*/

#map {
    position: static;
    width:90%;
    margin: auto;
    margin-top: 15px;
    height:500px;
    margin-bottom:40px;
}

/*styling for mapbox map end---------------------------*/

/*styling for geolocator-------------------------------*/
.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 20%;
    }
    .mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }
/*styling for geolocator end---------------------------*/    

header {    text-align: center; 
            background-color: #00000079;
            color: rgb(255, 208, 0);
}


h1 {    font-family: 'Special Elite', cursive;
        padding-top: 25px;

}

.footer {   font-family: 'Special Elite', cursive;
            background-color: #00000079;
            color: rgb(255, 208, 0);
            text-align: center;
            height: 60px;
            padding: 12px;
            border-top: 5px solid orange;
            position: absolute;
            bottom: 0;
        
}

.container-fluid {
    margin-bottom:40px;
}

.text-white {
    color:white;
}

.data {
    width:30%;
}
.map-column {
    width:70%;
}
tbody {
    color:black;
}
li {
    background-color:white;
}